.container {
  max-width: 1200px;
  margin: 0 auto;
}
.line {
  margin: 10px 0;
  text-align: center;
}
body {
  margin: 0 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
.bytemd {
  height: calc(100vh - 100px);
}
.medium-zoom-overlay {
  z-index: 100;
}
.medium-zoom-image--opened {
  z-index: 101;
}
